*~
/curl_leftlight_000Parsed.txt
*.h5
/Graph/events.out.tfevents.1512749521.DESKTOP-RSTSG16
/Graph/events.out.tfevents.1512750810.DESKTOP-RSTSG16
/Graph/events.out.tfevents.1512751820.DESKTOP-RSTSG16
*.DESKTOP-RSTSG16
